body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px 0px;
    background: #1f2937;
    color: #F9FAF8;
}

.header {
    font-size: 16px;
}

.header .title {
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 96px;
    background: #1f2937;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
}

.hero-left button {
    align-self: flex-start;
}

.hero .title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero .subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    border-style: none;
}

.hero .image-container{
    width: 400px;
    height: 200px;
}

.hero .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.section-2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 96px;
    text-align: center;
    gap: 16px;
}

.tiles {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.section-2 .title {
    font-size: 36px;
    font-weight: 900;
    padding: 48px;
    color: #1f2937;
}

.tile {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 8px;
}

.tile .image-container {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-radius: 16px;
    overflow: hidden;
}

.tile .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quote {
    display: flex;
    justify-content: center;
    background: #e5e7eb;
}

.quote .container {
    display: flex;
    flex-direction: column;
    margin: 48px;
    gap: 8px;
}

.quote .container .text {
    font-size: 36px;;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.quote-author {
    margin-left: auto;
    font-weight: bold;
}

.cta {
    display: flex;
    justify-content: center;
    margin: 64px;
    color: white;
}

.cta .title {
    font-size: large;
    font-weight: bold;
}

.cta .container {
    display: flex;
    justify-content: center;
    gap: 64px;
    background: #3882f6;
    padding: 32px 72px;
    border-radius: 8px;
}

.cta button {
    border-style: solid;
    border-color: white;
}

.footer {
    text-align: center;
    padding: 32px;
    background: #2e312e;
    color: white;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 8px;
    background: #3882f6;
    color: white;
    cursor: pointer;
}