body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px 0px;
    background: #2e312e;
    color:white
}

.header {
    font-size: 16px;
}

.header .title {
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 96px;
    background: #2e312e;
    color: white;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
}

.hero-left button {
    align-self: flex-start;
}

.hero .title {
    font-size: 36px;
    font-weight: bold;
}

.hero .image-container{
    width: 400px;
    height: 200px;
}

.hero .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.section-2 {
    display: flex;
    flex-direction: column;
    padding: 96px;
    text-align: center;
    gap: 16px;
}

.tiles {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.tile {
    max-width: 200px;
}

.tile .image-container {
    height: 200px;
    width: 200px;
}

.tile .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quote {
    display: flex;
    justify-content: center;
    background: lightgray;
}

.quote .container {
    display: flex;
    flex-direction: column;
    margin: 48px;
}

.quote-author {
    margin-left: auto;
}

.cta {
    display: flex;
    justify-content: center;
    margin: 64px;
}

.cta .container {
    display: flex;
    background: #2f9f47;
}

.footer {
    text-align: center;
    padding: 32px;
    background: #2e312e;
    color: white;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

button {
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 8px;
    background: #2f9f47;
    color: white;
}