body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    background: #2e312e;
    color:white
}

.hero {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 96px;
    background: #2e312e;
}

.section-2 {
    display: flex;
    flex-direction: column;
    padding: 96px;
    text-align: center;
    gap: 16px;
}

.tiles {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.tile {
    max-width: 250px;
}

.quote {
    display: flex;
    justify-content: center;
    background: lightgray;
}

.quote .container {
    display: flex;
    flex-direction: column;
    margin: 48px;
}

.quote-author {
    margin-left: auto;
}

.cta {
    display: flex;
    justify-content: center;
    margin: 64px;
}

.cta .container {
    display: flex;
    background: #2f9f47;
}

.footer {
    text-align: center;
    padding: 32px;
    background: #2e312e;
    color: white;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}